body {
    background-color: mistyrose;
    font-family: Courier New;
    margin: 0;
    padding: 0;
  }
header {
    background-color: honeydew;
    color: white;
    padding: 2em;
    text-align: center;
}
h1{
          color: lightcoral; 
          text-align: left;
          font-family: 'Courier New';
          font-size: 35px;
}
p{
          color: seagreen;
          text-align: left;
          font-family: monospace; 
          font-size: 27px;
}